
<h4>Search Result: <%= @results.count if @results%> </h4>

<table id="results_table" class="table">
  <thead>
    <tr>
      <td class="title_header"> Title</td>
      <td class="name_header">Authors</td>
      <td class="year_header">Year</td>
      <td class="source_title_header">Source</td>
      <td class="research_aim_header">Research Aim</td>
      <td class="publisher_header">Publisher</td>
      <td class="published_time_header">Published At</td>
      <td class="doi_header">DOI</td>
    </tr>
  </thead>
  <tbody>
    <% @results.each_with_index do |evidence, index| %>
      <tr>
        <td class="title_header"> <%= evidence.title %> </td>
        <td class="name_header"> <%= evidence.authors %>  </td>
        <td class="year_header"> <%= evidence.year %> </td>
        <td class="source_title_header"> <%= evidence.source_title %>  </td>
        <td class="research_aim_header"> <%= evidence.research_aim %> </td>
        <td class="publisher_header"> <%= evidence.publisher %> </td>
        <td class="published_time_header"> <%= evidence.published_time%> </td>
        <td class="doi_header"> <%= evidence.DOI %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="editor"></div>
